.wrapper {
    --learning-max-inline-size: 134rem;

    background-color: var(--black-color);
    color: var(--white-color);
    padding-block-start: 4.8rem;
}

.page-title-container {
    max-inline-size: var(--learning-max-inline-size);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

.page-heading {
    margin: 0;
    margin-block-end: 2.4rem;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    max-inline-size: 36em;
}

.navigation-tab {
    inline-size: 100%;
}
