.wrapper {
    min-inline-size: 5.6rem;
    z-index: 99;
}

.container {
    position: relative;
    min-inline-size: 5.6rem;
    block-size: 100%;
}

.navInner {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
}

.navMenu {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 31.6rem;
    inline-size: 5.6rem;
    block-size: 100%;
    transition: width 400ms cubic-bezier(0.2, 0, 0.38, 0.9);
    background-color: var(--black-color);
    box-shadow: 0 4px 8px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent),
        0 4px 12px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 24%, transparent);
}

.navMenu:hover {
    inline-size: 31.6rem;
}
