.wrapper {
    display: flex;
    padding: 1.6rem;
    color: var(--text-color);
    border-block-end: 1px solid var(--border-color);
}

.image-wrapper {
    inline-size: 6.4rem;
    block-size: 6.4rem;
    overflow: hidden;
    border-radius: 0.8rem;
    flex-shrink: 0;

    img {
        inline-size: 100%;
        block-size: 100%;
        vertical-align: middle;
        object-fit: cover;
    }
}

.item-des {
    padding-block: 0;
    padding-inline: 0.8rem;
    inline-size: 19.2rem;
}

.item-title {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-block-end: 0.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
}

.item-instructor {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    color: var(--heading-color);
}

.item-price {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;

    span {
        text-decoration: underline;
    }
}
