// Bottom, course content
.wrapper {
    padding-block-start: 3.2rem;
    max-inline-size: var(--max-inline);
    margin: 0 auto;
}

.bot-content {
    max-inline-size: 70rem;
    // margin không được tính vào kích thước element gồm: border, padding, content.
    // Và không được tính vào inline-size hoặc width, block-size hoặc height
    // vì luôn có set box-sizing: border-box ở global.css nên inline-size hoặc width, block-size hoặc height, border, content
    // được tính toán sao cho tổng bằng với size được set ( tự động hoặc thủ công)
    margin-inline: 4.8rem;
}

.learn-group {
    padding-block: 2.4rem 1.6rem;
    margin-block-end: 3.2rem;
    border: 1px solid var(--border-color);
}

.what-learn-heading {
    margin-inline: 2.4rem;
    margin-block: 0 1.6rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
}

.learn-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 2.4rem;
    margin-inline: 2.4rem;
    list-style: none;
}

.what-item {
    display: flex;
    align-items: flex-start;
    padding-block: 0.4rem;
    padding-inline: 0;
    font-size: 1rem;

    span {
        margin-inline-start: 1.6rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        text-align: start;
    }
}

.related-topic {
    margin-block-end: 3.2rem;
}

.related-heading {
    margin-block: 0 1.6rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
}

.related-btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.topic-btn {
    block-size: 3.4rem;
    inline-size: unset;
    border: 1px solid var(--gray-color);
    border-radius: 0.4rem;
    color: var(--text-color);

    &:hover {
        background-color: #f9f6f7;
    }
}

.topic-btn + .topic-btn {
    margin-inline-start: 0;
}

.requirement-content {
    margin-block-end: 3.2rem;
}

.requirement-list {
    list-style: none;

    li {
        display: flex;
        align-items: center;
        padding-block: 0.4rem;
        text-align: start;
        letter-spacing: normal;
        white-space: normal;

        span {
            margin-inline-start: 1.6rem;
            min-block-size: 2.24rem;
            font-size: 1.4rem;
            font-weight: 400;
        }
    }
}

.des-content {
    margin-block-end: 3.2rem;

    p {
        margin-block-start: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.6;
    }

    p:first-child {
        margin-block-start: 0;
        font-style: italic;
    }
}

@media (max-width: 43.75rem) {
    .wrapper {
        .bot-content {
            margin-inline: 2.4rem;
        }

        .learn-list {
            grid-template-columns: auto;
        }
    }
}

@media (max-width: 67.44em) {
    .bot-content {
        max-inline-size: 60rem;
        margin-inline: auto;
    }
}

@media (min-width: 67.5em) {
    .wrapper {
        max-inline-size: 108.4rem;
    }

    .bot-content {
        max-inline-size: 60rem;
    }
}

@media screen and (min-width: 73.75em) {
    .wrapper {
        max-inline-size: var(--max-inline);
    }

    .bot-content {
        max-inline-size: 70rem;
    }
}
