.wrapper {
    background-color: transparent;

    .light-theme {
        color: var(--purple-color);
    }
}

.intro-heading {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 0;
    margin-block-end: 1.6rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0;
}

.intro-detail {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-block-end: 2.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}

.tag-groups {
    display: flex;
    align-items: center;
    margin-block-end: 1.6rem;
}

.tag-rating-group {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.intro-rate {
    margin-inline-end: 0.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--dark-yellow-color);
}

.rating-star {
    display: flex;
}

.mobile-rating-star {
    display: none;
    margin-inline-end: 0.4rem;
}

.rate-count {
    margin-inline: 0.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--purple-color-100);
}

.student-count {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
}

.intro-instructor {
    margin-block-end: 1.6rem;
    margin-inline-end: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;

    a {
        color: var(--purple-color-100);
        text-decoration: underline;
        font-weight: 600;
    }
}

.intro-date {
    display: flex;
    align-items: center;
    margin-block-end: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;

    span {
        margin-inline: 0.8rem;
    }
}

@media (max-width: 43.75rem) {
    .wrapper {
        .intro-heading {
            font-size: 2.8rem;
            font-weight: 600;
        }

        .rating-star {
            display: none;
        }

        .mobile-rating-star {
            display: block;
        }
        .course-des {
            margin-inline: 2.4rem;
        }

        .tag-groups {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.8rem;
        }
    }
}
