.wrapper {
    position: fixed;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: 100%;
    overflow-y: auto;
    opacity: 0;
    transform: scale(0);
    backdrop-filter: blur(0.8rem);
    -webkit-backdrop-filter: blur(0.8rem); /* để hỗ trợ Safari */
    background: var(--overlay-color);
    cursor: pointer;
    z-index: 9999;
}

.modal-open {
    opacity: 1;
    transform: scale(1);
    transition: opacity 100ms linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
