.wrapper {
    background: var(--white-color);
}

.note-create {
    block-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.6rem;
    border: 1px solid var(--gray-color);
    border-radius: 0.4rem;
    background-color: var(--white-color);
    cursor: pointer;

    &:hover {
        background-color: var(--gray-color-100);
    }
}

.create-note-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--heading-color);
}

.note-bookmarks {
    margin-block-start: 0;
}

.sort-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding-block: 0.8rem 3.2rem;
    padding-inline: 0;
}

.sort-wrapper {
    position: relative;
}

.sort-dropdown {
    inline-size: 20rem;
    margin-block: 0.4rem;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 100%;
    opacity: 0;
    animation: popper-module-pop-in 100ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
    display: none;
    z-index: 9;
}

.sort-dropdown-open {
    display: block;
}

.sort-list {
    list-style: none;
    padding-block: 0.8rem;
    padding-inline: 0;

    li {
        overflow: hidden;
    }
}

.sort-item {
    background-color: transparent;
    border: none;
    inline-size: 100%;
    text-align: start;
    margin-inline: -0.4rem -0.4rem;
    padding-inline: 1.6rem;
    padding-block: 0.8rem;
    border-radius: 0.4rem;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;

    &:hover {
        color: var(--btn-focus-color);
        background-color: var(--btn-focus-background-color);
    }
}

@keyframes popper-module-pop-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
