.searchStyleBtn {
    inline-size: unset;
    margin-inline-start: 0rem;
    border-color: var(--btn-focus-light-background-color);
    background-color: var(--white-color);
}

.searchStyleBtn:hover {
    background-color: var(--gray-color-100);
}

.searchStyleBtn span {
    gap: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drawerContent {
    inline-size: 40rem;
    max-inline-size: 100%;
    block-size: 100%;
    overflow-y: auto;
}

.drawerContentLoading {
    opacity: 0.6;
    pointer-events: none;
}

.drawerHeader {
    padding-block: 6.4rem 0;
    padding-inline: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-block-end: 3.2rem;
}

.drawerHeading {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
    max-inline-size: 36em;
}

.clearFiltersBtn {
    block-size: unset;
    inline-size: unset;
    min-inline-size: unset;
    padding-inline: 0;
    border: none;
}

.drawerBody {
    padding-block: 0 6.4rem;
    padding-inline: 4.8rem;
}

.drawerFilters {
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
}

.drawerFilterGroup {
    min-inline-size: 18rem;
    max-inline-size: 60rem;
}

.filterGroupHeading {
    display: flex;
    align-items: center;
    padding-block-end: 0.8rem;
    min-block-size: 2.8rem;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
    max-inline-size: 36em;
}

.checklist {
    list-style: none;
}

.checklistItem {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-block: 0.4rem;
    margin-inline: 0;
    padding-block: 0.8rem;
    padding-inline: 0;
    cursor: pointer;
    user-select: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
}

.ratingItem {
    margin-block: 0;
}

.ratingItem span {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 37.5rem) {
    .drawerHeader {
        padding-block: 2.4rem 0;
        padding-inline: 1.6rem 1.6rem;
        margin-block-end: 2.4rem;
    }

    .drawerBody {
        padding-block: 0 2.4rem;
        padding-inline: 1.6rem;
    }

    .drawerContent {
        inline-size: 28rem;
    }
}
