.wrapper {
    background-color: var(--white-color);
}

.header-container {
    display: flex;
    gap: 1.6rem;
    padding-block: 0;
    padding-inline: 1.6rem;
    box-shadow: inset 0 -1px 0 0 var(--border-color);
}

.tab-title {
    block-size: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 0.8rem;
    padding-inline: 0.4rem;
    outline-offset: -0.4rem !important;
    color: var(--heading-color);
    border-block-end: 0.2rem solid transparent;
    cursor: pointer;

    &:hover {
        color: var(--text-color);
    }
}

.tab-active {
    color: var(--text-color);
    border-color: #33364a;
    cursor: default;
}

.tab-heading {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
}

.tab-container {
    padding-block-start: 1.6rem;
}

.tab-content {
    max-inline-size: 84.8rem;
    padding-block: 3.2rem 0;
    padding-inline: 2.4rem;
    margin-inline: auto;
    display: none;
}

.tab-content-active {
    display: block;
}

@media (max-width: 37.5rem) {
    .tab-content,
    .tab-content-active {
        padding-block-start: 0.8rem;
        padding-block-end: 0;
        padding-inline-end: 1.6rem;
    }
}
