.wrapper {
    position: relative;
    display: inline-block;

    &:focus-visible,
    :focus {
        outline: none;
    }
}

.dropdown {
    margin-block: 0.4rem;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 100%;
    opacity: 0;
    animation: popper-module-pop-in 100ms cubic-bezier(0.2, 0, 0.38, 0.9) forwards;
    display: none;
    z-index: 9;
}

.dropdown-open {
    display: block;
}

@keyframes popper-module-pop-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
