.wrapper {
    background: var(--white-color);
}

.des-content {
    margin-block-end: 3.2rem;

    p {
        margin-block-start: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.6;
    }

    p:first-child {
        margin-block-start: 0;
        font-style: italic;
    }
}

.related-heading {
    margin-block: 0 1.6rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
}
