// layout.tsx
.wrapper {
    display: flex;
    min-block-size: 100vb;
    flex-direction: column;
    background-color: var(--white-color);
}

.header {
    block-size: 5.6rem;
    padding-block: 0;
    padding-inline: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
    background-color: var(--black-color);
    color: var(--white-color);
}

.header-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 4rem;
    padding-block: 0;
    margin-block: 1.2rem;
    margin-inline: 0;

    img {
        inline-size: 100%;
        max-inline-size: 100%;
        block-size: 100%;
        vertical-align: middle;
        object-fit: contain;
        transition: opacity linear 100ms;
    }
}

.vertical-divider {
    block-size: 40%;
    border-inline-start: 1px solid var(--heading-color);
}

.header-title {
    max-inline-size: 60rem;
    margin: 0;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0;

    &:hover {
        color: var(--border-color);
    }
}

.main-container {
    flex: 1;
    display: flex;
}

// page.tsx
.main-content {
    inline-size: calc(100% - 41.6rem);
}

.main-content-no-sidebar {
    inline-size: 100%;
}

.video-container {
    display: flex;
    padding-block-end: 0;
    inline-size: 100%;
    background-color: var(--black-color);
}

.video-content {
    block-size: 100%;
    inline-size: 100%;
    overflow: hidden;
    max-block-size: calc(100vh - 29rem);
    position: relative;
}

.no-sidebar-video-content {
    max-block-size: 80vh;
}

.video-aspect-ratio {
    padding-block-start: 65%;
    overflow: hidden;
}

.video-wrapper {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
}

.video-content .view-course-content-btn {
    position: absolute;
    inset-inline-start: 100%;
    inset-block-start: calc(4.8rem + 0.8rem);
    min-inline-size: unset;
    inline-size: unset;
    border: 1px solid var(--gray-color);
    transition: transform 400ms cubic-bezier(0.2, 0, 0.38, 0.9);
    transform: translateX(-4rem);

    &:hover {
        transform: translateX(-100%);
    }
}

// sidebar
.sidebar {
    position: fixed;
    inset-block-start: 5.6rem;
    inset-inline-end: 0;
    inline-size: 41.6rem;
    block-size: calc(100% - 5.6rem);
    z-index: 1;
    background: var(--white-color);
}

.sidebar-container {
    display: flex;
    flex-flow: column;
    block-size: 100%;
    border-inline-start: 1px solid var(--border-color);
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 0.8rem;
    padding-inline-end: 0.8rem;
    padding-block-end: 0.8rem;
    padding-inline-start: 1.6rem;
    border: 1px solid var(--border-color);
    border-right: none;
    background-color: var(--white-color);
}

.sidebar-heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
}

.sidebar-close-btn-wrapper {
    position: relative;

    &:hover {
        .sidebar-close-popper {
            display: block;
        }
    }
}

.sidebar-icon-btn {
    block-size: 3.2rem;
    inline-size: 3.2rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
        background-color: #2a2b3f1f;
    }
}

.sidebar-close-popper {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 100%;
    padding: 0.8rem;
    max-inline-size: 24rem;
    inline-size: max-content;
    border-radius: 0.4rem;
    background-color: var(--black-color);
    border: 1px solid var(--gray-color);
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    display: none;
}

.panel-scroll-container {
    flex: 1;
    block-size: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border-color: var(--white-color);
    border: 1px solid var(--gray-color-100);
}

.no-border-top {
    &:first-child {
        border-top: none;
    }
}

// dashboard
.dashboard {
    display: flex;
    justify-content: center;
}

.dashboard-container {
    inline-size: 100%;
    padding-block: 0;
    padding-inline: 1.6rem;
}

.dashboard-content {
    margin-block-end: 9.6rem;
}

.des-content {
    margin-block-end: 3.2rem;

    p {
        margin-block-start: 0.8rem;
        font-size: 1.4rem;
        line-height: 1.6;
    }

    p:first-child {
        margin-block-start: 0;
        font-style: italic;
    }
}

.related-heading {
    margin-block: 0 1.6rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0;
}

@media (min-width: 43.8125rem) {
    .video-content {
        min-block-size: 40rem;
    }
}

@media (max-width: 61.25rem) {
    .dashboard-container {
        padding: 0;
    }
}

@media (min-width: 61.3125rem) and (max-width: 75rem) {
    .main-content {
        inline-size: calc(100% - 30rem);
    }

    .sidebar {
        inline-size: 30rem;
    }

    .main-content-no-sidebar {
        inline-size: 100%;
    }
}
