.wrapper {
    margin-block-end: 3.2rem;
}

.contentArea {
    container-type: inline-size;
    container-name: ud-content-area;
    inline-size: 100%;
}

.cardContainer {
    inline-size: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.6rem;
    row-gap: 1.6rem;
}

.loadingOverlay {
    position: absolute;
    inset-block-start: 7.2rem;
    inset-block-end: 0;
    inset-inline: 0;
    inline-size: 100%;
    overflow-y: auto;
    opacity: 0;
    transform: scale(0);
    backdrop-filter: blur(0.8rem);
    background: var(--overlay-color);
    cursor: pointer;
    z-index: 9999;
}

.loadingOverlayOpen {
    opacity: 1;
    transform: scale(1);
}

@media screen and (max-width: 43.75rem) {
    .cardContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 37.5rem) {
    .cardContainer {
        grid-template-columns: 1fr;
    }
}
