.wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    margin-block-start: 0.4rem;
    display: none;

    z-index: 9;
}

.nav-cart-content {
    min-inline-size: 28.8rem;
    padding: 1.6rem;
    text-align: center;
}
.nav-cart-text {
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    margin-block-end: 1.6rem;
}
