.nav-item {
    position: relative;

    &:hover .nav-learn-wrapper {
        display: block;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: calc(100% - 1rem);
    }

    &:hover .nav-link {
        color: var(--btn-focus-color);
    }
}

.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 4rem;
    padding-block: 0;
    padding-inline: 1.2rem;
    margin-block: 1.2rem;
    margin-inline: 0;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    color: var(--text-color);
    white-space: nowrap;

    &:hover {
        color: var(--btn-focus-color);
        background-color: var(--btn-focus-background-color);
        border-radius: var(--btn-border-radius);
    }

    .cart-badge {
        display: flex;
        align-items: center;
    }
}

.nav-icon {
    font-size: 1.8rem;
}

.nav-learn-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    margin-block-start: 0.4rem;
    display: none;

    z-index: 9;
}

.learn-container {
    min-inline-size: 28.8rem;
}

.learn-content {
    max-block-size: 48.8rem;
    overflow: auto;
}

.button-wrapper {
    padding: 1.6rem;
    box-shadow: 0 -2px 4px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent),
        0 -4px 12px color-mix(in oklch, oklch(27.54% 0.1638 265.98deg) 8%, transparent);
}

.no-learning-content {
    min-inline-size: 28.8rem;
    padding: 1.6rem;
    text-align: center;
}
.nav-learning-text {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    margin-block-end: 1.6rem;
}
