.shopping-item {
    padding-block: 1.6rem;
    padding-inline: 0;
    border-block-start: 1px solid var(--border-color);
}

.item-container {
    display: grid;
    grid:
        'image header header actions price' auto
        'image badges rating actions price' auto
        'image meta meta actions price' auto
        'image subs-badge subs-badge actions price' auto
        / auto auto 1fr auto auto;
    cursor: pointer;
}

.item-img {
    grid-area: image;
}

.img-wrapper {
    margin-inline-end: 1.6rem;
    overflow: hidden;
    background-color: var(--black-color);
    border: 1px solid var(--border-color);

    img {
        display: block;
        inline-size: 12rem;
        block-size: 6.8rem;
        transition: opacity 0.1s linear;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.item-header {
    grid-area: header;
    min-inline-size: 1px;
}

.item-heading {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-block-end: 0.4rem;
    font-family: var(--tiktok-display-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
}

.item-instructor {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
}

.item-badge {
    grid-area: badges;
    margin-block-start: 0.8rem;
    margin-inline-end: 0.8rem;
    display: flex;
    align-items: center;
}

.item-rating {
    grid-area: rating;
    margin-block-start: 0.8rem;
    display: flex;
    align-items: center;
}

.rating-star {
    display: inline-flex;
    align-items: center;

    .rating-average {
        margin-inline-end: 0.4rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0;
        color: #8e420a;
    }
}

.rating-count {
    margin-inline-start: 0.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    color: var(--heading-color);
}

.item-meta {
    grid-area: meta;
    margin-block-start: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    color: var(--heading-color);
}

.item-actions {
    grid-area: actions;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.action-button + .action-button {
    margin-inline-start: 0;
}

.action-button {
    inline-size: unset;
    min-inline-size: unset;
    padding-inline: 0.4rem;
    margin-inline: -0.4rem;
}

.item-price {
    grid-area: price;
    padding-inline-start: 4.8rem;
}

.price-wrapper {
    display: flex;
    align-items: flex-start;
    padding-block: 0.4rem;
    padding-inline: 0;
    white-space: nowrap;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: #a435f0;

    span {
        text-decoration: underline;
    }
}
