.wrapper {
    display: flex;
    justify-content: space-between;
    margin-block: 2.4rem;
    margin-inline: 0;
}

.filters-bar {
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.search-style-btn {
    inline-size: unset;
    margin-inline-start: 0rem;
    border-color: var(--btn-focus-light-background-color);
    background-color: var(--white-color);

    &:hover {
        background-color: var(--gray-color-100);
    }

    span {
        gap: 0.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0;
        color: var(--text-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.sort-mode-btn {
    border: none;
    box-shadow: none;
    border-radius: 0.4rem;

    span {
        font-weight: 700;
    }
}

.checklist-dropdown-content {
    inline-size: 32rem;
    max-block-size: 20rem;
    padding: 1.6rem;
    overflow: hidden auto;
}

.checklist-list {
    list-style: none;
    min-inline-size: 18rem;
    max-inline-size: 60rem;
}

.checklist-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-block: 0.4rem;
    margin-inline: 0;
    padding-block: 0.8rem;
    padding-inline: 0;
    cursor: pointer;
    user-select: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
}

.rating-item {
    margin-block: 0;

    span {
        display: flex;
        align-items: center;
    }
}
