.wrapper {
    display: flex;
    justify-content: space-between;
    margin-block: 2.4rem;
    margin-inline: 0;
}

.filters-bar {
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.search-style-btn {
    inline-size: unset;
    margin-inline-start: 0rem;
    border-color: var(--btn-focus-light-background-color);
    background-color: var(--white-color);

    &:hover {
        background-color: var(--gray-color-100);
    }

    span {
        gap: 0.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0;
        color: var(--text-color);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .selected-count {
        min-inline-size: 1.6em;
        padding-inline: 0.3em;
        border-radius: 100rem;
        color: var(--purple-color);
        background-color: var(--btn-focus-background-color);
        font-family: var(--tiktok-display-font);
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: 0;
    }
}

.search-style-btn-active {
    background-color: var(--btn-focus-light-background-color);
    border-color: var(--btn-focus-light-background-color);
}

.checklist-dropdown-content {
    inline-size: 32rem;
    max-block-size: 20rem;
    padding: 1.6rem;
    overflow: hidden auto;
}

.checklist-list {
    list-style: none;
    min-inline-size: 18rem;
    max-inline-size: 60rem;
}

.checklist-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-block: 0.4rem;
    margin-inline: 0;
    padding-block: 0.8rem;
    padding-inline: 0;
    cursor: pointer;
    user-select: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
}

.rating-item {
    margin-block: 0;

    span {
        display: flex;
        align-items: center;
    }
}

.rating-clear-btn {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-block-start: 1.6rem;
    color: var(--purple-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    cursor: default;
}

.sort-mode {
    position: relative;
}

.mode-select {
    block-size: 4rem;
    min-inline-size: 0;
    max-inline-size: 20rem;
    inline-size: unset;
    display: flex;
    text-overflow: ellipsis;
    text-align: right;
    padding-block: 0;
    padding-inline: 0.8rem 3.2rem;
    border: 0;
    outline: none;
    border-radius: 0.4rem;
    color: var(--text-color);
    background: var(--white-color);
    cursor: pointer;
    font-family: var(--tiktok-font);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 0;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:hover {
        background-color: var(--gray-color-100);
    }
}

.select-option {
    background-color: var(--white-color);
}

.sort-mode-icon-wrapper {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
    block-size: 4rem;
    inline-size: 3.6rem;
    padding-block: 0;
    padding-inline: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
