.card-rating-wrapper {
    margin-top: 0;
    display: flex;
    color: #c4710d;
}

.card-rating {
    display: inline-flex;
    line-height: 1;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

.card-star-icon {
    font-size: 1rem;
    padding-inline: 0.3rem;
}

.rating-overlay {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}
