.wrapper {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    clip: rect(auto, auto, auto, auto);
    opacity: 0;
    transition: opacity 150ms linear;
}

.menu-container {
    block-size: 100%;
    overflow: auto;
    padding-block-end: 3.2rem;
}

.menu-container-hidden {
    visibility: hidden;
    transition: visibility 0ms linear 150ms;
}

.levels-menu-container {
    position: absolute;
    inset-block-start: 0;
    max-inline-size: 100%;
    block-size: 100%;
    inline-size: 100%;
    padding: 0;
    transform: translateX(calc(var(--translate-x-direction) * 34.4rem));
    transition: transform 150ms cubic-bezier(0.2, 0, 1, 0.9);
    overflow: auto;
    background-color: var(--white-color);
}

.levels-menu-container-visible {
    transform: translateX(0);
}

.menu-show {
    opacity: 1;
    transition: opacity 250ms linear 250ms;
}

.welcome-section {
    display: flex;
    padding: 1.6rem;
    cursor: pointer;
}

.avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    background-color: var(--black-color);
    color: var(--white-color);
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    border-radius: 50%;
}

.avatar-name-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 1.6rem 0.8rem;
}

.avatar-name {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-family: var(--tiktok-display-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
}

.avatar-text {
    margin-block-start: 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-inline-size: 15.4rem;
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
}

.chevron-icon {
    inline-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-section-group {
    border-block-start: 1px solid var(--border-color);
}

.section-heading {
    padding-block: 1.6rem 0;
    padding-inline: 1.6rem 1.6rem;
    margin-block-end: -0.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--heading-color);
}

.section-list {
    list-style: none;
    padding-block: 0.8rem;
    padding-inline: 0;
}

.section-item {
    display: flex;
    align-items: center;
    inline-size: 100%;
    block-size: auto;
    text-align: start;
    padding-block: 0.8rem;
    padding-inline: 1.6rem;
    letter-spacing: normal;
    white-space: normal;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        background-color: var(--btn-focus-background-color);
    }
}

.section-text {
    flex: 1;
    min-block-size: 2.56rem;
    min-inline-size: 1px;
    font-size: 1.6rem;
    line-height: 2.56rem;
    font-weight: 400;
    letter-spacing: 0;
}

.back-btn {
    display: flex;
    padding: 1.6rem;
}

.back-text {
    flex: 1;
    min-block-size: 2.56rem;
    min-inline-size: 1px;
    margin-inline-start: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.56rem;
    font-weight: 400;
    letter-spacing: 0;
    cursor: pointer;
}

.language-btn {
    min-inline-size: 14rem;
    inline-size: unset;
    padding-inline: 1.6rem;
    margin-inline-start: 1.6rem;
    justify-content: flex-start;
    font-weight: 400;

    span {
        margin-inline-start: 0.4rem;
    }
}
