.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-color: var(--black-color);
    inline-size: 60rem;
    max-inline-size: 60rem;
    min-block-size: 0;
    margin-block: 10vb;
    margin-inline: 0;
    padding: 0;
    outline-offset: 0;
}

.preview-container {
    padding-block: 0;
    padding-inline: 2.4rem;
    color: var(--white-color);
}

.preview-heading {
    padding-block: 2.4rem;
    padding-inline: 0 3.6rem;
    margin: 0;

    span {
        display: block;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0;
    }

    span:first-child {
        padding-block-end: 0.8rem;
        color: var(--border-color);
    }

    span:last-child {
        font-size: 1.6rem;
        max-inline-size: 36em;
    }
}

.preview-content {
    background-color: var(--black-color);
    color: var(--white-color);
}

.preview-video-container {
    block-size: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-sample {
    padding-block: 1.6rem;
    padding-inline: 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0;
}

.samples-container {
    margin-block: 0;
    margin-inline: -2.4rem;
}

.close-btn {
    position: absolute;
    inset-block-start: 1.6rem;
    inset-inline-end: 1.6rem;
    color: var(--white-color);
    min-inline-size: unset;
    inline-size: unset;
}

@media (max-width: 37.5rem) {
    .wrapper {
        min-block-size: 100vb;
        margin-block: 0;
    }

    .preview-video-container {
        block-size: 20rem;
    }
}
