.wrapper {
    max-inline-size: 134rem;
    min-inline-size: 32rem;
    margin-block: 0 6.4rem;
    margin-inline: auto;
    padding-block: 0;
    padding-inline: 4.8rem;
}

.page-heading {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    max-inline-size: 36em;
    margin-block: 0;
    margin-block-start: 3.2rem;
}

.cart-section {
    display: flex;
    flex-direction: row;
    margin-block-start: 3.2rem;
}

.shopping-lists {
    flex: 1 1;
}

.lists-heading {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    margin-block-end: 0.8rem;
}

.item-lists {
    min-inline-size: 100%;
    list-style: none;
}

.cart-checkout {
    flex: 1 1;
    max-inline-size: 30rem;
    margin-inline-start: 6.4rem;
}

.checkout-total {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-block-end: 1.6rem;
}

.total-title {
    margin-block-end: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--heading-color);
}

.total-price {
    display: flex;
    align-items: flex-start;
    padding-block: 0.4rem;
    padding-inline: 0;
    white-space: nowrap;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;

    span {
        text-decoration: underline;
    }
}

.checkout-buttons {
    padding-block-end: 1.6rem;
    border-block-end: 1px solid var(--border-color);
}

.checkout-term {
    margin-block-start: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--heading-color);
}

// empty cart
.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-end: 3rem;
    box-shadow: 0 0 2px var(--border-color);
    padding: 2.4rem;
    text-align: center;

    img {
        max-inline-size: 100%;
        block-size: auto;
        vertical-align: middle;
        margin-block-end: 2.4rem;
    }
}

.empty-cart-text {
    margin-block-end: 2.4rem;
}

@media (max-width: 75rem) {
    .cart-checkout {
        margin-inline-start: 4.8rem;
    }
}

@media (max-width: 61.25rem) {
    .wrapper {
        margin-block: 0 4.8rem;
        padding-inline: 3.2rem;
    }

    .cart-checkout {
        margin-inline-start: 3.2rem;
    }
}

@media (max-width: 43.75rem) {
    .wrapper {
        margin-block: 0 2.4rem;
        padding-inline: 1.6rem;
    }

    .cart-section {
        flex-direction: column;
    }

    .cart-checkout {
        max-inline-size: unset;
        margin-inline-start: 0;
    }

    .checkout-total {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    .total-title {
        margin-block-end: 0;
    }
}
