.wrapper {
    display: block;
    min-inline-size: 25%;
    inline-size: 25%;
    padding-inline-start: 0.8rem;
    padding-inline-end: 0.8rem;
    cursor: pointer;

    &:hover {
        .img-overlay {
            transition: opacity linear 100ms;
            opacity: 1;
        }

        .play-btn {
            transition: transform cubic-bezier(0.2, 0, 0.38, 0.9) 100ms;
            transform: scale(1);
        }
    }
}

.container {
    display: grid;
    gap: 0.8rem;
    grid-template-rows: auto 1fr;
    max-inline-size: 37.5rem;
    min-inline-size: 17.3rem;
}

.img-container {
    aspect-ratio: calc(1 / 0.5625);
    inline-size: 100%;
    align-self: start;
    background-color: var(--black-color);
    border: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;

    img {
        max-inline-size: 100%;
        block-size: auto;
        vertical-align: middle;
        transition: opacity linear 100ms;
        inline-size: 100%;
    }
}

.img-overlay {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    block-size: 100%;
    inline-size: 100%;
    background: color-mix(in oklch, oklch(20.35% 0.0139 285.09deg), transparent 40%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn {
    block-size: 4.8rem;
    inline-size: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100rem;
    color: #3d3f4f;
    background-color: var(--white-color);
    transform: scale(0.8);
}

.main-container {
    inline-size: 100%;
    white-space: nowrap;
    min-inline-size: 1px;
}

.course-title {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-block-end: 0.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
}

.course-instructor {
    margin-block-end: 0.4rem;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: block-axis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    color: var(--heading-color);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
}

.divider {
    margin-block: 1.6rem 0.4rem;
    block-size: 0.2rem;
}

.footer-text {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
}
