.mobile-search {
    block-size: 4rem;
    inline-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: var(--btn-focus-background-color);
        border-radius: var(--btn-border-radius);
    }
}

.search-btn-icon {
    font-size: 1.4rem;
}

.search-overlay-wrapper {
    block-size: 100%;
    inline-size: 100%;
    background: var(--white-color);
    overflow: hidden;
    position: relative;
}

.search-close-btn {
    position: absolute;
    inset-block-start: 0.4rem;
    inset-inline-end: 0.4rem;
    block-size: 4rem;
    inline-size: 4rem;
    background-color: var(--white-color);
    border: none;
    color: var(--text-color);
    z-index: 9;
    cursor: pointer;
    font-size: 1.4rem;

    &:hover {
        background-color: var(--btn-focus-background-color);
        border-radius: var(--btn-border-radius);
    }
}
