.wrapper {
    display: block;
    margin-inline-start: 0.8rem;
}

.popover-whist {
    min-inline-size: auto;
    block-size: 4.8rem;
    inline-size: 4.8rem;
    flex-shrink: 0;
    // Các item có flex-shrink: 1 sẽ co lại để chia đều chỗ.
    // Item có flex-shrink: 0 không co, nên các item khác sẽ phải co nhiều hơn để bù.
}

.popover-whist-icon {
    font-size: 2rem;
}

// white theme
.white-theme {
    .popover-whist {
        block-size: 4rem;
        inline-size: 4rem;
        border-radius: 0.4rem;
        border: none;
        color: var(--white-color);
    }

    .popover-whist-icon {
        font-size: 1.8rem;
    }
}
