.popover-whist {
    margin-inline-start: 0.8rem;
    min-inline-size: auto;
    block-size: 4.8rem;
    inline-size: 4.8rem;
    flex-shrink: 0;
    // Các item có flex-shrink: 1 sẽ co lại để chia đều chỗ.
    // Item có flex-shrink: 0 không co, nên các item khác sẽ phải co nhiều hơn để bù.
}

.popover-whist-icon {
    font-size: 2rem;
}
