.wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1.6rem;
}

.navigation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 4.8rem;
    padding-inline: 0.4rem;
    padding-block: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0;
    color: var(--border-color);

    &:hover {
        color: var(--white-color);
    }
}

.tab-active {
    border-block-end: 0;
    box-shadow: 0 -6px oklch(97.59% 0.0029 264.54deg) inset;
    color: var(--white-color);
    cursor: default;
}
