.radio-container {
    display: inline-flex;
}

// Ẩn nội dung nhưng vẫn cho screen reader đọc
.custom-input {
    position: absolute;
    block-size: 1px;
    inline-size: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;

    &:checked ~ .checkmark {
        background: var(--purple-color);
        box-shadow: 0 0 0 0.2rem var(--white-color) inset;
    }
}

.checkmark {
    flex-shrink: 0;
    inline-size: 1.6rem;
    block-size: 1.6rem;
    display: inline-block;
    border: 0.2rem solid #33364a;
    border-radius: 100rem;
    cursor: pointer;
}
