.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    // Không thêm block-size hoặc height vì sẽ làm lỗi popover
    min-block-size: 100vh;
}

.content {
    width: 100%;
    flex: 1;
}

// responsive
.header {
    display: block;
}

.mobile-header {
    display: none;
}

@media (max-width: 50rem) {
    .header {
        display: none;
    }

    .mobile-header {
        display: block;
    }
}
