.header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    block-size: 7.2rem;
    writing-mode: horizontal-tb;
    direction: ltr;
    padding-block: 0;
    padding-inline: 2.4rem;
    z-index: 99;
    background-color: var(--white-color);

    .align-end {
        margin-left: auto; //chiếm toàn bộ không gian trống bên trái → đẩy nó sang phải.
    }
}

.header-logo {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 4rem;
    padding-block: 0;
    padding-inline: 1.2rem;
    margin-block: 1.2rem;
    margin-inline: 0;

    img {
        inline-size: 100%;
        max-inline-size: 100%;
        block-size: 100%;
        vertical-align: middle;
        object-fit: contain;
        transition: opacity linear 100ms;
    }
}

.nav-explore {
    position: relative;

    .multi-nav-menu {
        position: absolute;
        top: 100%;
        margin-block-start: 0.4rem;
        display: none;

        z-index: 9;
    }

    &:hover .multi-nav-menu {
        display: block;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: calc(100% - 1rem);
    }
}

.search-bar-skeleton {
    position: relative;
    flex: 1;
    block-size: 4.8rem;
    inline-size: 100%;
    min-inline-size: 18rem;
    margin-inline: 1.2rem;
    margin-block: 0;
    z-index: 9;
    border-radius: 999rem;
    background-color: var(--gray-color-100);
}

.nav-business {
    position: relative;

    .nav-business-wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        margin-block-start: 0.4rem;
        display: none;

        z-index: 9;
    }

    .nav-business-content {
        min-inline-size: 28.8rem;
        padding: 1.6rem;
        text-align: center;
    }
    .nav-business-text {
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0;
        margin-block-end: 1.6rem;
    }

    &:hover .nav-business-wrapper {
        display: block;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: calc(100% - 1rem);
    }
}

.nav-teaching {
    position: relative;

    .nav-teaching-wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        margin-block-start: 0.4rem;
        display: none;

        z-index: 9;
    }

    .nav-teaching-content {
        min-inline-size: 28.8rem;
        padding: 1.6rem;
        text-align: center;
    }
    .nav-teaching-text {
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0;
        margin-block-end: 1.6rem;
    }

    &:hover .nav-teaching-wrapper {
        display: block;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: calc(100% - 1rem);
    }
}

// header icon nav
.nav-wishlist {
    position: relative;

    .nav-wishlist-wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        margin-block-start: 0.4rem;
        display: none;

        z-index: 9;
    }

    .nav-wishlist-content {
        min-inline-size: 28.8rem;
        padding: 1.6rem;
        text-align: center;
    }
    .nav-wishlist-text {
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
        margin-block-end: 1.6rem;
    }

    &:hover .nav-wishlist-wrapper {
        display: block;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: calc(100% - 1rem);
    }
}

.nav-wishlist {
    display: block;
}

.nav-notify {
    position: relative;

    .nav-notify-wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        margin-block-start: 0.4rem;
        display: none;

        z-index: 9;
    }

    .nav-notify-content {
        min-inline-size: 36rem;
        padding: 1.6rem;
        text-align: center;
    }

    .nav-notify-header {
        display: flex;
        justify-content: space-between;
        margin-block-end: 3.2rem;
    }

    .nav-notify-heading {
        font-weight: 700;
    }

    .nav-notify-setting {
        padding: 0;
        min-inline-size: unset;
        inline-size: unset;
    }
    .nav-notify-text {
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0;
    }

    &:hover .nav-notify-wrapper {
        display: block;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: calc(100% - 1rem);
    }
}

.nav-search {
    flex: 1;
    min-inline-size: 18rem;
    margin-inline: 1.2rem;
    margin-block: 0;

    //test
    input {
        width: 100%;
    }
}

.nav-item {
    .nav-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        block-size: 4rem;
        padding-block: 0;
        padding-inline: 1.2rem;
        margin-block: 1.2rem;
        margin-inline: 0;

        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        text-decoration: none;
        color: var(--text-color);
        white-space: nowrap;

        &:hover {
            color: var(--btn-focus-color);
            background-color: var(--btn-focus-background-color);
            border-radius: var(--btn-border-radius);
        }
    }

    .nav-icon {
        font-size: 1.8rem;
    }

    // avatar
    .avatar {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3.2rem;
        height: 3.2rem;
        background-color: #333;
        color: var(--white-color);
        margin: 0.8rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0;
        border-radius: 50%;
    }

    &:last-child .nav-link {
        padding-inline: 0.4rem;
    }
    //-------------------------

    &:hover .nav-link {
        color: var(--btn-focus-color);
    }
}

.nav-avatar {
    position: relative;

    &:hover {
        .nav-avatar-wrapper {
            display: block;
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        top: calc(100% - 1rem);
    }

    .nav-avatar-wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        margin-block-start: 0.4rem;
        display: none;
        z-index: 9;
    }

    .nav-avatar-content {
        min-inline-size: 26rem;
    }

    .nav-avatar-header {
        display: flex;
        padding: 1.6rem;
    }

    .popper-avatar {
        block-size: 4.8rem;
        inline-size: 4.8rem;
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
    }

    .avatar-name-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-inline-start: 0.8rem;
    }

    .avatar-name {
        font-family: var(--tiktok-display-font);
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0;
    }

    .avatar-email {
        margin-block-start: 0.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-inline-size: 15.4rem;
        color: var(--gray-color);
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0;
    }

    .nav-avatar-links {
        list-style: none;
        padding-block: 0.8rem;
    }

    .nav-avatar-link {
        display: block;
        padding-block: 0.8rem;
        padding-inline: 1.6rem;
        margin-inline: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0;

        &:hover {
            color: var(--btn-focus-color);
            background-color: var(--btn-focus-background-color);
        }
    }

    .nav-avatar-language {
        padding-block: 0.8rem;
    }

    .nav-language-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 0.8rem;
        padding-inline: 1.6rem;
        margin-inline: 0;
    }

    .language-heading {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0;
    }

    .language-group {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0;
        color: var(--text-color);
    }
}

@media (max-width: 67.5em) {
    .nav-business {
        display: none;
    }
}

@media (max-width: 57.5em) {
    .nav-teaching {
        display: none;
    }
}

@media (max-width: 51.5em) {
    .nav-wishlist {
        display: none;
    }
}

@media (max-width: 50rem) {
}
